:root {
 /* ↓ color */
  --color-black: #000000;
  --color-blanche: #ffffff;
  --color-blue-100: #EBF1F5;
  --color-blue-200: #CEDBE0;
  --color-blue-400: #025E8D;
  --color-blue-700: #003F8D;
  --color-blue-900: #01324B;
  --color-grayscale-200: #f8f8f8;
  --color-grayscale-300: #f3f3f3;
  --color-grayscale-400: #dadada;
  --color-grayscale-500: #999999;
  --color-grayscale-600: #666666;
  --color-grayscale-700: #555555;
  --color-grayscale-800: #222222;
  --color-weiss: #ffffff;
  --color-white: #ffffff;
}
